.main{
   
   
  .container{
      
      @include flex($just:space-between, $align:center);
      padding: 20px 0;
      @media (min-width: 1024px) {
          
      @include flex($just:space-evenly, $align:center);

          padding: 45px 0;
      }
          
      .logo{
          height: 25px;
          cursor: pointer;
          img{
              @include photo();
          }
      }
    
    
        
      
          .menu{
              display: none;
              position: relative;  
              z-index: 2;
              @media (min-width: 1024px) {
                  display: block;
                 
                  
              }
              ul{
                  display: flex;
                  margin: 0;
                  
                  li{
                      padding:  0 25px;
                      font-size: 13px;
                      cursor: pointer;
                      position: relative;
                      z-index: 1;
                      
  
                      a{
                          position: relative;
                          
  
                      }
                      a::before{
                          position: absolute;
                          content: "";
                          height: 1px;
                          width: 0%;
                          background-color: black;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          transition: .3s ease;
                      }
                      a:hover::before{
                          width: 100%;
                      }
  
                      .menu-item{
                         position: absolute;
                         z-index: 3;
                         top: 60px;
                         left: 0px;
                         display: flex;
                         flex-direction: column;
                         margin: 0;
                         padding: 17px 0;
                         min-width: 200px;
                         background-color: #fff;
                         transition:  0.3s ease;
                         visibility: hidden;
                         transform: translateY(-10px) ;
                         opacity: 0;
                         li{
                          padding: 10px 20px;
                         a{
                          color: $fontColor();
                         }
                         a::before{
                          background-color: $fontColor();
                         }
                         
                         }
                      }
                      #shop{
                         
                          position: absolute;
                          z-index: 4;
                          top: 60px;
                          left: -470px;
                          right: -550px;
                          display: flex;
                          @include center();
                          transition:  0.3s ease;
                          visibility: hidden;
                          opacity: 0;
                          transform: translateY(-10px) ;
                          background-color: #fff;
                          div{
                              width: 25%;
                              padding: 40px 10px;
                           
                              h3{
                                  color: rgba(0, 0, 0, 0.651);
                              
                                  
                              }
  
                              .submenu{
                                  margin: 0;
                                  padding: 0;
                                  li{
                                      padding: 10px 10px;
                                      color: $fontColor();
  
                                      a{
                                          color: $fontColor();
                                         }
                                         a::before{
                                          background-color: $fontColor();
                                         }
  
                                  }
                              }
                          }
                      }
                     
                  }
                  li:hover  .menu-item {
                      
                      
                          transform: translateY(0px) ;
                          visibility: visible;
                           opacity: 1;
                           z-index: 1 ;
                      
                  }
                  li:hover  #shop {
                      
                      
                      transform: translateY(0px) ;
                      visibility: visible;
                       opacity: 1;
                       z-index: 1;
                  
              }
                 
              }
          }
          .menu-right{
             display: none;
             @media (min-width: 1024px) {
              display: block;
             
          }
              i{
                  padding: 0 12px;
                  font-size: 20px;
                  color: rgba(0, 0, 0, 0.726);      
                  position: relative;
                  cursor: pointer;
  
                  
              }
             #search:hover{
                  color: $mainColor();
              }
  
             
              .basket{
                  position: relative;
                  i{
                      padding: 0 12px;
                      font-size: 20px;
                      color: rgba(0, 0, 0, 0.726);
                      position: relative;
                      cursor: pointer;
      
                      .numb{
                          position: absolute;
                          font-size: 8px;
                          font-weight: bold;
                          text-align: center;
                          background-color: $mainColor();
                          padding: 2px;
                          width: 13px;
                          height: 13px;
                          border-radius: 50%;
                          color: #fff;
                          right: 8px;
                       
                      }
                  }
                  .cart{
                      font-size: 13px;
                      cursor: pointer;
                      padding: 0 6px;
                  }
                  .basket-notification{
                      position: absolute;
                      z-index: 3;
                      top: 60px;
                      left: -120px;
                      min-width: 250px;
                      padding: 20px 25px;
                      background-color: #fff;
                      font-size: 14px;
                      opacity: 0;
                      visibility: hidden;
                      transition: .3s ease;
                  }
                
              }
              .basket:hover  .basket-notification{
                  opacity: 1;
                  visibility: visible;
                  }
          }
          .btn{
              display: block;
              @media (min-width: 1024px) {
                  display: none;
              }
          }
          
@media (min-width: 1024px) {
  .menu-mobile {
      display: none; 
  }
}

@media (max-width: 1023px) {
  .menu-mobile {
      display: block; 
  }


}
.accordion{
                    
                     
  .accordion-item{
      border: none;
      color: $fontColor();
      font-size: 15px;
      padding: 15px 30px;
      i{
          font-size: 15px;
          margin: 0 5px;
          color: $fontColor();
      }
      h2:focus{
          outline: none;
         
          
      }
      button{
          padding: 0;
      }
      button:after{
          display: none;
          
      }
  }
}

         }
      
     


  }