* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: #2b2b2b;
}

h1, h2 {
  font-size: 38px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.main .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 45px 0;
}
.main .container .logo {
  height: 25px;
  cursor: pointer;
}
.main .container .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .container .menu {
  display: none;
  position: relative;
  z-index: 2;
}
@media (min-width: 1024px) {
  .main .container .menu {
    display: block;
  }
}
.main .container .menu ul {
  display: flex;
  margin: 0;
}
.main .container .menu ul li {
  padding: 0 25px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.main .container .menu ul li a {
  position: relative;
}
.main .container .menu ul li a::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease;
}
.main .container .menu ul li a:hover::before {
  width: 100%;
}
.main .container .menu ul li .menu-item {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 0px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 17px 0;
  min-width: 200px;
  background-color: #fff;
  transition: 0.3s ease;
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
}
.main .container .menu ul li .menu-item li {
  padding: 10px 20px;
}
.main .container .menu ul li .menu-item li a {
  color: #737373;
}
.main .container .menu ul li .menu-item li a::before {
  background-color: #737373;
}
.main .container .menu ul li #shop {
  position: absolute;
  z-index: 4;
  top: 60px;
  left: -470px;
  right: -550px;
  display: flex;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  background-color: #fff;
}
.main .container .menu ul li #shop div {
  width: 25%;
  padding: 40px 10px;
}
.main .container .menu ul li #shop div h3 {
  color: rgba(0, 0, 0, 0.651);
}
.main .container .menu ul li #shop div .submenu {
  margin: 0;
  padding: 0;
}
.main .container .menu ul li #shop div .submenu li {
  padding: 10px 10px;
  color: #737373;
}
.main .container .menu ul li #shop div .submenu li a {
  color: #737373;
}
.main .container .menu ul li #shop div .submenu li a::before {
  background-color: #737373;
}
.main .container .menu ul li:hover .menu-item {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
  z-index: 1 !important;
}
.main .container .menu ul li:hover #shop {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.main .container .basket {
  display: none;
}
@media (min-width: 1024px) {
  .main .container .basket {
    display: block;
  }
  .main .container .basket #close {
    color: red !important;
  }
}
.main .container .basket i {
  padding: 0 12px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.726);
  position: relative;
  cursor: pointer;
}
.main .container .basket i .numb {
  position: absolute;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  background-color: red;
  padding: 2px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  color: #fff;
  right: 8px;
}
.main .container .basket i:first-child:hover {
  color: rgba(255, 0, 0, 0.781);
}
.main .container .basket .cart {
  font-size: 13px;
  cursor: pointer;
  padding: 0 12px;
}
.main .container .btn {
  display: block;
}
@media (min-width: 1024px) {
  .main .container .btn {
    display: none;
  }
}

footer {
  background-color: rgba(255, 205, 205, 0.288);
}
footer .container h2 {
  font-size: 15px;
  padding: 30px 0 20px;
}
footer .container ul li {
  padding: 5px 0;
  font-size: 12px;
}
footer .container ul li a {
  color: rgb(161, 161, 161);
}
footer .container .short-info {
  color: rgb(161, 161, 161);
}
footer .container .short-info .sosial a {
  color: rgb(161, 161, 161);
}

.flowers .container-fluid .mainSlider {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
}
.flowers .container-fluid .mainSlider .content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 30%;
}
.flowers .container-fluid .mainSlider .content h2 {
  font-size: 45px;
  padding: 15px 0;
}
.flowers .container-fluid .mainSlider .content h2 span {
  color: red;
}
.flowers .container-fluid .mainSlider .content p {
  line-height: 30px;
}
.flowers .container-fluid .mainSlider .swiper-wrapper {
  position: relative;
}
.flowers .container-fluid .mainSlider .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flowers .container-fluid .mainSlider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .container {
  padding: 50px 0;
}
.products .container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .container .title .category ul {
  display: flex;
}
.products .container .title .category ul li {
  padding: 0 15px;
  font-size: 12px;
  cursor: pointer;
}
.products .container .title .category ul li:first-child {
  color: red;
}
.products .container .title .category ul li:hover {
  color: red;
}
.products .container .title .filter {
  position: relative;
  z-index: 1;
}
.products .container .title .filter h2 a {
  font-size: 12px;
  color: #1b1b1b;
}
.products .container .title .filter h2 i {
  font-size: 15px;
  padding: 0 5px;
}
.products .container .title .filter .sort {
  position: absolute;
  z-index: -1;
  left: -200px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  background-color: #fff;
  width: 350px;
}
.products .container .title .filter .sort div {
  padding: 10px 20px;
}
.products .container .title .filter .sort div h3 {
  font-size: 20px;
  padding: 10px 0;
}
.products .container .title .filter .sort div ul li {
  font-size: 14px;
  padding: 5px 0;
}
.products .container .title .filter:hover .sort {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.products .container .cards {
  padding: 20px 0;
}
.products .container .cards .inner .image {
  cursor: pointer;
  position: relative;
}
.products .container .cards .inner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
.products .container .cards .inner .image .sold, .products .container .cards .inner .image .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.788);
  color: #fff;
  padding: 3px 12px;
}
.products .container .cards .inner .image .sale {
  background-color: #fff;
  color: #1b1b1b;
}
.products .container .cards .inner .image:hover img {
  scale: 1.03;
}
.products .container .cards .inner .text h2 {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding: 17px 0 5px;
}
.products .container .cards .inner .text p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737373;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.products .container .cards .inner .text p .pay {
  position: absolute;
  transform: translateX(-1000px);
  transition: 0.5s ease;
}
.products .container .cards .inner .text p .pay:hover {
  color: red;
}
.products .container .cards .inner .text p .price {
  position: relative;
  transition: 0.5s ease;
  top: 0;
  left: 0;
}
.products .container .cards .inner .text p:hover .pay {
  transform: translateX(0);
  top: 0;
}
.products .container .cards .inner .text p:hover .price {
  left: 200px;
}

.valentine {
  background-color: rgb(238, 238, 238);
}
.valentine .container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.valentine .container .play {
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}
.valentine .container .play img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.valentine .container .play .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.valentine .container .play .play-icon i {
  font-size: 45px;
  color: #f34f3f;
}
.valentine .container .valentin-content {
  padding: 0 30px;
  font-size: 17px;
  line-height: 40px;
}
.valentine .container .valentin-content h2 {
  padding: 15px 0;
  font-size: 38px;
  line-height: 50px;
}
.valentine .container .valentin-content h2 span {
  color: #f34f3f;
}
.valentine .container .valentin-content ul li span {
  padding: 0 10px;
}

.experts .container {
  padding: 50px 0;
}
.experts .container .experts-header {
  text-align: center;
}
.experts .container .experts-header p {
  padding: 30px 0px;
  font-size: 17px;
  line-height: 30px;
}
.experts .container .boxes .inner .img {
  border-radius: 50%;
  overflow: hidden;
}
.experts .container .boxes .inner .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.experts .container .boxes .inner .box-content {
  text-align: center;
}
.experts .container .boxes .inner .box-content h6 {
  font-size: 12px;
  padding: 20px 0 0;
}
.experts .container .boxes .inner .box-content p {
  font-size: 12px;
  color: #afafaf;
}

.subscribe .container-fluid {
  min-height: 70vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe .container-fluid h2 {
  padding: 50px 0;
  color: #fff;
}
.subscribe .container-fluid .enter-email {
  display: flex;
}
.subscribe .container-fluid .enter-email .email-write {
  background-color: #fff;
  width: 400px;
  padding: 20px 0;
}
.subscribe .container-fluid .enter-email .email-write input {
  border: none;
  padding: 0 15px;
}
.subscribe .container-fluid .enter-email .email-write ::-moz-placeholder {
  font-size: 12px;
}
.subscribe .container-fluid .enter-email .email-write ::placeholder {
  font-size: 12px;
}
.subscribe .container-fluid .enter-email .email-write input:focus {
  outline: none;
}
.subscribe .container-fluid .enter-email .subscribe-btn button {
  border: none;
  background-color: #f34f3f;
  padding: 25px 50px;
  font-size: 12px;
  color: #fff;
}

.blog {
  background-color: rgb(238, 238, 238);
}
.blog .container {
  padding: 50px 0;
}
.blog .container .blog-title {
  text-align: center;
  padding: 40px 0;
}
.blog .container .blog-cards .inner .blog-image {
  overflow: hidden;
  position: relative;
}
.blog .container .blog-cards .inner .blog-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
.blog .container .blog-cards .inner .blog-image .blog-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  font-size: 12px;
  padding: 5px 20px;
  cursor: pointer;
}
.blog .container .blog-cards .inner .blog-image :hover {
  color: #f34f3f;
}
.blog .container .blog-cards .inner .blog-image:hover img {
  transform: scale(1.05);
}
.blog .container .blog-cards .inner .blog-card-text {
  text-align: center;
  padding: 15px;
}
.blog .container .blog-cards .inner .blog-card-text h2 a {
  font-size: 22px;
}
.blog .container .blog-cards .inner .blog-card-text p {
  font-size: 15px;
}

.experts-slider .container .twoSlider {
  width: 70%;
  height: 500px;
}
.experts-slider .container .twoSlider .swiper-slide {
  overflow: hidden;
}
.experts-slider .container .twoSlider .swiper-slide .swiper-zoom-container {
  display: flex;
  flex-direction: column;
}
.experts-slider .container .twoSlider .swiper-slide .swiper-zoom-container p {
  padding: 40px 0;
  font-size: 20px;
  font-weight: 450;
  color: #737373;
}
.experts-slider .container .twoSlider .swiper-slide .swiper-zoom-container h6 {
  font-size: 17px;
}
.experts-slider .container .twoSlider .swiper-button-next {
  color: #1b1b1b;
}
.experts-slider .container .twoSlider .swiper-button-prev {
  color: #1b1b1b;
}

.about-us .container-fluid {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-valentine .container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-valentine .container .valentin-content {
  width: 50%;
  padding: 0 10px;
  font-size: 17px;
  line-height: 30px;
}
.about-valentine .container .valentin-content h2 {
  padding: 15px 0;
  font-size: 38px;
  line-height: 50px;
}
.about-valentine .container .valentin-content h2 span {
  color: #f34f3f;
}
.about-valentine .container .valentin-content p {
  font-size: 15px;
  padding: 15px 0;
}
.about-valentine .container .play {
  width: 50%;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}
.about-valentine .container .play img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-valentine .container .play .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-valentine .container .play .play-icon i {
  font-size: 45px;
  color: #f34f3f;
}

.map .container-fluid {
  padding-bottom: 70px;
}

.message .container {
  display: flex;
  padding: 50px 0;
}
.message .container .text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(236, 235, 235, 0.603);
  padding: 50px 50px;
  text-align: center;
}
.message .container .text .image {
  overflow: hidden;
}
.message .container .text .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.message .container .text h2 {
  text-align: center;
}
.message .container .text h2 span {
  color: #f34f3f;
  padding: 15px 0;
  line-height: 50px;
}
.message .container .text p {
  padding: 15px 0;
  font-weight: 400;
}
.message .container .enter-message {
  width: 50%;
  flex-direction: column;
  padding: 50px;
  text-align: left;
}
.message .container .enter-message h2 {
  padding: 15px 0;
}
.message .container .enter-message p {
  font-size: 14px;
}
.message .container .enter-message .enter-write {
  display: flex;
  flex-direction: column;
}
.message .container .enter-message .enter-write input {
  padding: 15px 15px;
  margin: 12px 0;
  border: 1px solid rgba(128, 128, 128, 0.253);
}
.message .container .enter-message .enter-write ::-moz-placeholder {
  font-size: 12px;
}
.message .container .enter-message .enter-write ::placeholder {
  font-size: 12px;
}
.message .container .enter-message .enter-write input:focus {
  outline: none;
}
.message .container .enter-message .enter-write .write-some {
  margin: 12px 0;
  border: 1px solid rgba(128, 128, 128, 0.253);
  padding: 10px 10px;
}
.message .container .enter-message .enter-write ::-moz-placeholder {
  font-size: 12px;
}
.message .container .enter-message .enter-write ::placeholder {
  font-size: 12px;
}
.message .container .enter-message .enter-write .write-some:focus {
  outline: none;
}
.message .container .enter-message button {
  padding: 20px 30px;
  margin: 20px 0;
  background-color: #f34f3f;
  color: #fff;
  border: none;
}/*# sourceMappingURL=style.css.map */